name: lint and Test

on: [push, pull_request]

env:
  GO_VERSION: '1.25'
  REGISTRY_PREFIX: ghcr.io
  DOCKER_COMPOSE_VERSION: v2.21.0
  DOCKER_FILE: Dockerfile.dev

permissions:
  contents: read
  packages: write

jobs:
  lint_and_test:
    name: Lint and Test - ${{ matrix.go-version }}
    strategy:
      matrix:
        go-version: [1.24.x, 1.23.x]
        platform: [ubuntu-latest]
    runs-on: ${{ matrix.platform }}
    steps:
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}
          cache: false

      - name: "Checkout ${{ github.ref }}"
        uses: actions/checkout@v4

      - name: Install tools
        run: |
          make tools

      - name: Check copyright
        run: |
          make verify-copyright

      - name: Check syntax and styling of go sources
        run: |
          make lint
        if: |
          matrix.go-version == '1.25.x'

      - name: Run unit test and get test coverage
        run: |
          make cover

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: toodofun/gvm
          files: _output/coverage.out
        if: |
          matrix.go-version == '1.24.x'

  build:
    runs-on: ubuntu-latest
    needs: [lint_and_test]
    environment:
      name: gvm-ci
    steps:
      - name: "Checkout ${{ github.ref }}"
        uses: actions/checkout@v4
        with:
          fetch-depth: 2

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Set version variables to shared
        run: echo "VERSION=DEVELOP_$(git describe --tags --always)" >> $GITHUB_ENV

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY_PREFIX }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build docker images for host arch and push images to registry
        run: |
          make image.build.$(go env GOOS)_$(go env GOARCH)
